<nav>
    <div class="site-title">
      <a href="/"><h1>Blog EmanKhaled</h1></a>
      <p>Task1 Full_Stack_Dev</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blogs/create">New Blog</a></li>
      <li> <a href="/jokes"> Daily joke</a> </li>

    </ul>
  </nav>